# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env
.cache
# VSCode & Devcontainer
.vscode/
.devcontainer/.env

# macOS
.DS_Store

# Data & Results
src/data2/
data2/

# results/ 

#vllm models
model_cache/

#credentials
search_science_on_challenge/configs/chatgpt_api_credentials.json
search_science_on_challenge/configs/pubmed_api_credentials.json
search_science_on_challenge/configs/scienceon_api_credentials.json
search_science_on_challenge/configs/gemini_api_credentials.json